
<div class="alert alert-info fade in" data-alert="alert">
	<h3>
    	<strong>
        	Edit the details about the Book - {{toeditbook.book_title}}
        </strong>
    </h3>
</div>

<!-- The error message at the top of the page in case user submits with errors  -->
<div class="error submiterror" ng-show="showSubmitError"><img alt="X Icon" src="../image/xicon.jpg" class="xicon">Please correct the below errors before submitting</div>

<div class="panel panel-primary" >
	<div class="panel-heading">Book Details</div>
	<div class="panel-body">
		<form  name="addcompBookForm" novalidate id="addcompform"><!-- since angular submits the form, we can remove the 'method=post' attribute -->
		
  			<div class="form-group">
				<label for="bookTitle">Book Title *</label>
				<input maxlength="50" required ng-model="toeditbook.book_title" type="text" class="form-control wiseowl-form-control" name="bookTitle" id="bookTitle"/>
    			<div class="error" ng-show="doesShow(addcompBookForm.bookTitle)">{{getErrorText(addcompBookForm.bookTitle.$error)}}</div>
    		</div>
    		
    		<div class="form-group">
    			<label for="bookAuthor">Book Author *</label>
				<input maxlength="50" required ng-model="toeditbook.book_author_name" type="text" class="form-control wiseowl-form-control" name="bookAuthor" id="bookAuthor"/>
    			<div class="error" ng-show="doesShow(addcompBookForm.bookAuthor)">{{getErrorText(addcompBookForm.bookAuthor.$error)}}</div>
    		</div>

			<div class="form-group">
				<label for="publishDate">Publish Date</label>
				<input placeholder="MM/DD/YYYY" maxlength="10" ng-pattern="datePattern" ng-model="toeditbook.book_publish_date" type="text" class="form-control wiseowl-form-control" id="publishDate" name="publishDate"/>
				<div class="error" ng-show="doesShow(addcompBookForm.publishDate)">{{getErrorText(addcompBookForm.publishDate.$error)}}</div>
			</div>
    		
    		<div class="form-group">
    			<label for="rating" id="rating_label">Your Rating *</label>
				<select required ng-model="toeditbook.book_read_rating" class="form-control wiseowl-form-control" name="rating" id="rating">
				    <option value="1">1</option>
				    <option value="2">2</option>
				    <option value="3">3</option>
				    <option value="4">4</option>
				    <option value="5">5</option>
				</select>
				<div class="error" ng-show="doesShow(addcompBookForm.rating)">{{getErrorText(addcompBookForm.rating.$error)}}</div>				
    		</div>
    		
    		<div class="form-group">
    			<label for="comments">Book Review Comments *</label>
				<textarea required ng-model="toeditbook.book_read_comments" class="form-control wiseowl-form-control" rows="5" name="comments" id="comments"/>
    			<div class="error" ng-show="doesShow(addcompBookForm.comments)">{{getErrorText(addcompBookForm.comments.$error)}}</div>
    		</div>
    		
    		<div class="form-group">
    			<label for="readDate">Read Date *</label>
				<input maxlength="10" required ng-pattern="datePattern" ng-model="toeditbook.book_read_date" type="text" class="form-control wiseowl-form-control" name="readDate" id="readDate"/>
				<div class="error" ng-show="doesShow(addcompBookForm.readDate)">{{getErrorText(addcompBookForm.readDate.$error)}}</div>
    		</div>    
    		
    		<div class="form-group">
    			<label for="readFormat">Book Format Read *</label>
				<select required ng-model="toeditbook.book_read_format.bookformat_ID" class="form-control wiseowl-form-control" id="readFormat" name="readFormat">
					<option value = "1">PDF</option>
					<option value = "3">Hardbound</option>
					<option value = "2">MS Word</option>
					<option value = "4">Kindle</option>
					<option value = "5">iBook</option>
					<option value = "6">ePub</option>
					<option value = "7">Other</option>
				</select>
				<div class="error" ng-show="doesShow(addcompBookForm.readFormat)">{{getErrorText(addcompBookForm.readFormat.$error)}}</div>
    		</div>
    		
    		<div class="form-group">
    			<label for="booksource">Book Source *</label>
				<select required ng-model="toeditbook.book_read_source.booksource_ID" class="form-control wiseowl-form-control" id="booksource" name="booksource">
     				<option value = "1">Library</option>
					<option value = "2">Owned</option>
					<option value = "3">Friend</option>
					<option value = "4">Store</option>
					<option value = "5">Online</option>
				</select>
				<div class="error" ng-show="doesShow(addcompBookForm.booksource)">{{getErrorText(addcompBookForm.booksource.$error)}}</div>
    		</div>

    		
   		<div class="form-group">
    			<label for="notes">Notes</label>
				<textarea ng-model="toeditbook.book_notes" type="text" class="form-control wiseowl-form-control" rows="5" id="notes" placeholder="Special Notes"/>
    		</div>

    		
    		<button ng-click="updateCompBook(addcompBookForm)">Update</button><!-- Keyboard enter works out of the box for an angular form submit -->
		</form>
    </div>
</div>