
<div class="alert alert-info fade in" data-alert="alert">
    <h3>
        <strong>
            The following are all the Books you want to read later...
        </strong>
    </h3>
</div>

<h4 ng-if="compbooklist.length === 0"> This list is currently empty !! </h4>

<div ng-if="compbooklist.length !== 0" class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th class="bookindex">Serial #</th>

            <th class="bookdetails bookdetailsheader">
                <a href="" ng-click="sortType = 'book_title'; sortReverse = !sortReverse">
                    Book Details
                    <span ng-show="sortType == 'book_title' && !sortReverse" class="fa fa-caret-up"></span>
                    <span ng-show="sortType == 'book_title' && sortReverse" class="fa fa-caret-down"></span>
                </a>
            </th>

        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="book in compbooklist | orderBy:sortType:sortReverse">
            <td class="bookindex">{{$index+1}}</td>
            <td class="bookdetails">
                <div>
                    <span class="booktitle"><a href="#/geteditforlaterbook?id={{book.book_ID}}"><strong>{{book.book_title}}</strong></a> by <em>{{book.book_author_name}}</em></span>
                    <p class="bookreadcomment">{{book.book_read_comments}}</p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>