<div class="jumbotron">
        <h1>WiseOwl</h1>
        <p class="lead">
            WiseOwl is watching you read!
        </p>
</div>

<div class="row">
    <div class="col-lg-6">
        <h2>Add Completed Book</h2>
        <p>Click here to mark a finished book. It's highly suggested you make notes of the best parts if you need to refer to it later!</p>
        <p class="col-lg-2"><a class="btn btn-primary" href="#/addcomp" role="button">Add Completed Book</a></p>
    </div>


    <div class="col-lg-6">
        <h2>Add A Book To Read Later</h2>
        <p>Click this button to Add a Book you want to read later, to your Book Log. This will help you keep track of your wish list. A To Read List if you will</p>
        <p class="col-lg-2"><a class="btn btn-primary" href="#/addforlat" role="button">Add ForLater Book</a></p>
    </div>


    <div class="col-lg-6">
        <h2>View All Finished Books</h2>
        <p>Click to view all finished books</p>
        <p>Last book read :</p>
        <ul>
            <li ng-if="compbooklist.length === 0"> You have not reviewed any books so far!</li>
            <li ng-repeat="book in compbooklist">
                {{book.book_title}}
            </li>
        </ul>

        <p class="col-lg-2"><a class="btn btn-primary" href="#/compbooks" role="button">View All Completed Books</a></p>
    </div>

    <div class="col-lg-6">
        <h2>View Wish I Had Time To Read These Books</h2>
        <p>Click this button to view the entire list of books that you wish you had enough free time to read </p>
        <p class="col-lg-2"><a class="btn btn-primary" href="#/viewforlat" role="button">View Books You Will Get to Later</a></p>
    </div>

</div>